/* @font-face {
  font-family: "Marienda-Reqular";
  src:
    local("Marienda-Reqular"),
    url("./assets/fonts/Merienda/static/Merienda-Regular.ttf") format("truetype"),
   
}

@font-face {
  font-family: "Marienda-Medium";
  src:
    local("Marienda-Medium"),
    url("./assets/fonts/Merienda/static/Merienda-Medium.ttf") format("truetype"),
} */

*, :before, :after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: 'Marienda-Reqular', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 14px;
  line-height: 20.22px;
}

main {
  min-height: calc(100vh - 160px);
}

.container {
  max-width: 1100px;
  padding: 0 20px;
  margin: 0 auto;
  width: 100%;
}

h1 {
  font-size: 40px;
  line-height: 57.76px;
}

h2 {
  font-size: 24px;
  line-height: 34.66px;
  margin-bottom: 20px;
}

.text-center {
  text-align: center;
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

/* flex */
.d-flex {
  display: flex;
}

.items-end {
  display: flex;
  align-items: flex-end;
}

.justify-center {
  display: flex;
 justify-content: center;
}

